<button (click)="toggleAddForm()">
  {{ showAddForm ? 'Cancel' : 'Add Book' }}
</button>

<div *ngIf="showAddForm" class="add-form">
  <input type="text" [(ngModel)]="newBook.title" name="title" placeholder="Title" required />
  <input type="text" [(ngModel)]="newBook.genre" name="genre" placeholder="Genre" required />
  <button (click)="addBook()">Add</button>
</div>


<hr>

<h3>Books by {{ author?.fullName }}</h3>
<ul>
  <li *ngFor="let book of books">
    {{ book.title }} ({{ book.genre }})
    <button (click)="deleteBook(book.id)">delete</button>
  </li>
</ul>
